@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "PingFangTC", 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
}

body {
  color: #656565;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/banner.JPG);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

header nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul li {
  display: inline-block;
  line-height: 100px;
  margin-left: 35px;
  font-family: BanglaMN;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.76px;
}

header .main-text {
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

header .main-text h1 {
  font-family: BanglaMN;
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
  letter-spacing: 2.19px;
  margin-bottom: 0;
}

header .main-text h4 {
  font-family: DINAlternate;
  font-weight: 700;
  font-size: 16px;
  color: #718aba;
  background-color: #fff;
  letter-spacing: 0.7px;
  padding: 6px 10px;
  border-radius: 0 13px 0 13px;
}

.myphoto {
  width: 30%;
  height: 0;
  padding-bottom: 35%;
  border-radius: 0 0 150px 0;
  background-color: #e8f0ff;
  background-image: url(../img/myphoto.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}

.title {
  font-family: BanglaMN;
  color: #7b98cf;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.second-title {
  font-family: BanglaMN;
  color: #7b98cf;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1.05px;
  margin-bottom: 25px;
}

#introduce {
  display: inline-block;
  width: 60%;
  vertical-align: top;
  padding-left: 85px;
  padding-top: 65px;
}

#introduce p {
  font-size: 18px;
  letter-spacing: 1.19px;
  line-height: 30px;
}

#introduce .contact {
  margin-top: 70px;
}

#introduce .contact .contact-cont {
  margin-bottom: 13px;
  line-height: 20px;
}

#introduce .contact .contact-cont i {
  font-size: 20px;
  color: #95abd7;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

#introduce .contact .contact-cont p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

#aboutme-cont {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#aboutme-cont #experience {
  padding-right: 15px;
  width: 60%;
}

#aboutme-cont #experience .expe {
  margin-top: 30px;
}

#aboutme-cont #experience .expe .period {
  width: 30%;
  display: inline-block;
  background-color: #8da6d6;
  vertical-align: top;
  padding: 7px 0 4px;
  border-radius: 15px 0 15px 0;
}

#aboutme-cont #experience .expe .period p {
  font-family: BanglaMN;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.57px;
  text-align: center;
  margin: 3px 0 0;
}

#aboutme-cont #experience .expe .content {
  width: 69%;
  display: inline-block;
  padding-left: 10px;
}

#aboutme-cont #experience .expe .content .expe-title {
  color: #7b98cf;
  font-size: 20px;
  letter-spacing: 1.32px;
  margin-bottom: 15px;
}

#aboutme-cont #experience .expe .content ul li {
  font-size: 18px;
  letter-spacing: 1.19px;
  margin-top: 10px;
}

#aboutme-cont #experience .expe .content ul li:nth-child(1) {
  margin-top: 0;
}

#aboutme-cont .expe:nth-child(1) {
  margin-top: 0;
}

#aboutme-cont #skills {
  padding-left: 15px;
  width: 40%;
}

#aboutme-cont #skills .skills {
  margin-top: 25px;
}

#aboutme-cont #skills .skills .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#aboutme-cont #skills .skills .text p {
  font-size: 18px;
  letter-spacing: 1.19px;
  font-weight: 700;
  margin-bottom: 8px;
}

#aboutme-cont #skills .skills .bar {
  width: 100%;
  height: 15px;
  border-radius: 15px;
  background-color: #f0f0f0;
}

#aboutme-cont #skills .skills .bar .length {
  height: 100%;
  background-color: #c3d3f2;
  border-radius: 15px;
  width: 60%;
}

#aboutme-cont .skills:nth-child(1) {
  margin-top: 0;
}

.portfolio {
  margin-top: 50px;
  background-color: rgba(246, 250, 255, 0.9);
  padding-top: 70px;
  padding-bottom: 111px;
}

.portfolio .title {
  text-align: center;
}

.portfolio .classified {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 75%;
  margin: 0 auto 55px;
}

.portfolio .classified button {
  border: 1px solid #7b98cf;
  border-radius: 30px;
  height: 50px;
  background-color: transparent;
  color: #7b98cf;
  font-weight: 700;
  width: 22%;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio .classified button.active {
  background-color: #7b98cf;
  color: #fff;
  border: 1px solid #7b98cf;
}

.portfolio .classified button:hover {
  background-color: #7b98cf;
  color: #fff;
  border: 1px solid #7b98cf;
}

.portfolio .port-box {
  margin-top: 50px;
  position: relative;
}

.portfolio .port-box .port-pic {
  width: 100%;
  height: 0;
  padding-bottom: 32%;
  background-color: #c8e1ff;
  border-radius: 80px 0 80px 0;
}

.portfolio .port-box .text {
  padding-left: 50px;
}

.portfolio .port-box .text h5 {
  font-size: 20px;
  color: #7b98cf;
  letter-spacing: 1.32px;
  font-weight: 700;
  margin-bottom: 8px;
}

.portfolio .port-box .text span {
  font-size: 14px;
  color: #bbbbbb;
  letter-spacing: 0.93px;
  font-weight: 700;
  margin-right: 5px;
}

.portfolio .port-box .text p {
  margin-top: 15px;
  font-size: 18px;
  letter-spacing: 1.19px;
}

.portfolio .port-box .text button {
  width: 130px;
  height: 45px;
  background-color: #F8CC85;
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px rgba(204, 204, 204, 0.5);
          box-shadow: 0 2px 4px rgba(204, 204, 204, 0.5);
  position: absolute;
  bottom: 10px;
}

.portfolio .port-box .text button a {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.79px;
  font-size: 18px;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 45px;
}

.portfolio .port-box:nth-child(even) .text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-left: 0;
}

.portfolio .port-box:nth-child(even) .port-pic {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  border-radius: 0 80px 0 80px;
}

footer {
  background-color: #B2C4E8;
  text-align: center;
  color: #fff;
  font-family: BanglaMN;
  font-size: 16px;
  padding: 20px 0 10px;
  font-weight: 500;
  letter-spacing: 0.7px;
}
/*# sourceMappingURL=style.css.map */